body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header {
    margin-left: 98px;
    margin-right: 98px;
}

.container{
    width: 1280px;
    margin-left: auto;
    margin-right: auto;
}
h1 {
    font-family: Roboto;
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 38px;
}
.title-link {
    text-decoration: none;
    color: #2196F3;
}
.top-nav {
    background: #35444F;

}
.top-menu-item{
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;

}

.top-menu{
    margin: 0;
    padding-left: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}
.top-menu-link {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 38px;
    text-decoration: none;
    font-size: 17px;
}

.top-menu-link:hover {
    background-color: #222F3A;
    color: #fff;
}

.top-nav a.active {
    background: #222F3A;
    color: white;
}

.vertical-menu {
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    width: 344px;
    height: 399px;
    margin-top: 48px;
    margin-left: 100px;
    background: #00000000;
}

.content {
    display: flex;
    align-content: space-between;
}

.vertical-menu a {
    background: rgba(0, 0, 0, 0.0001);
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover {
    background-color: #ccc;
}

.vertical-menu a.active {
    background-color: #DBDBDB;
    color: black;
    padding-left: 38px;
}

.img-box {
    width: 885px;
    height: 529px;
    margin-left: 52px;
    margin-right: 99px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    margin-top: 48px;
}

.img {
    width: 320px;
    height: 381px;
    margin: 0 auto;
    padding-top: 75px;
    display: block;
    position: center;
}

.desk {
    display: flex;
    flex-wrap: wrap;
    margin-top: 37px;
    margin-left: 496px;
    margin-right: 99px;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.navbar {
    background: rgba(99, 105, 110, 0.48);
    display: flex;
    justify-content: space-evenly;
    margin-right: 100px;
    margin-left: 98px;
    margin-bottom: 30px;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.navbar a.active {
    color: #2196F3;
    text-decoration: revert;
}

.navbar a data {
    padding-left: 82px;
    padding-right: 40px;
}










