body {
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}
.vraper {
    background-image: url(../image/background.png);
    background-size: cover;
}
a {
    text-decoration: none;
}
.header {
    padding-top: 51px;
    padding-bottom: 26px;
}
.header .container {
    display: flex;
    justify-content: space-between;
}
.container {
    width: 1030px;
    margin: 0 auto;
}

.logo {
    color:#FFFFFF;
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 8px;
    align-items: center;
}
.logo:hover {
    color: #F26522;
}
.logo:hover .logo-img{
    display: none;
}
.logo:hover .logo-img2{
    display: block;
}
.logo-img2{
    display: none;
}
.logo img  {
    grid-row: span 2;
}

.logo-text {
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
}
.logo-text2 {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}
.contact {
    display: grid;
    row-gap: 19px;
    text-align: right;
}

.email {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.email:hover {
    color: #F26522;
}

.tel {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.tel:hover {
    color: #F26522;
}

.tours-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    column-gap: 61px;
    row-gap: 37px;
}

.tour {
    display: flex;
}

.tour-title {
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    margin-top: 20px;
    text-align: center;
}
.tour:hover .tour-title {
    color: #F26522;
}

.hover-wrap {
    position: relative;
}

.tour-img {
    width: 100%;
    height: 220px;
}

.hover {
    position: absolute;
    left: 0;
    bottom: 0;
    background: #F26522;
    width: 100%;
    display: none;
    padding: 7px 16px 12px;
}

.tour:hover .hover{
    display: block;
}

.from {
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.price {
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.detail {
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    position: absolute;
    right: 16px;
    bottom: 12px;
    display: flex;
}

.detail::after {
    content: '';
    width: 10px;
    height: 10px;
    background-image: url(../image/next.svg);
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    margin-left: 16px;
}
.copyright {
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    padding-top: 49px;
    padding-bottom: 15px;
    text-align: center;
}