 body {
     margin: 0;
    font-family: sans-serif;
 }

 *,
 *:before,
 *:after {
     box-sizing: border-box;
 }
 h1, h2, h3, h4, h5, h6 {
     margin: 0;
 }
 /*container*/
 .container{
     width: 100%;
     max-width: 1160px;
     margin: 0 auto;
 }

 /*header*/
 .header {
     position: absolute;
     width: 100%;
     z-index: 1000;
     background-color: rgba(94, 93, 88, 0.6);
 }
 .inner{
     display: flex;
     justify-content: space-between;
     align-items: center;

 }
 .header-logo a {
     list-style: none;
 }

 .header-logo{
     text-decoration: none;
     color: #FFFFFF;
     display: flex;
     align-items: center;
     font-size: 32px
 }
 .logo-title {
     color: #18CFAB;
     font-weight: bold;

 }

 /*Nav*/
 .nav-menu{
     display: flex;
     justify-content: space-between;
     font-size: 16px;
     line-height: 25px;
     text-align: center;
     list-style: none;
     padding-left: 21px;
     text-transform: uppercase;
     font-weight: bold;
     height: 100%;
 }
.nav-item {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 21px;
    position: relative;
}
.nav-link {
    text-decoration: none;
    display: flex;

    color:#FFFFFF;

    align-items: center;
    box-sizing: border-box;
}
 .nav-link:hover{
     color: #18CFAB;
     transition: color .3s;
 }
 .nav-link:hover::after{
     content: "";
     display: block;
     width: 100%;
     height: 3px;
     background: #18CFAB;
     position: absolute;
     bottom: 0;
     left: 0;
     z-index: 1;
     transition: opacity .1s linear;
 }


 .logo-text {
     width: 58px;
     height: 67px;
     padding: 13px;
     box-sizing: border-box;
     clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
     background-color:  #18CFAB;
     color:  #FFFFFF;
     font-weight: bold;
     font-size: 40px;
     margin-right: 6px;
 }



 /*section 1 (creative)*/
 .creative {
     background: url(../images/section1.jpg);
     background-attachment: fixed;
     color: #FFFFFF;
     background-size: 100%;
     padding: 366px 0;
     text-align: center;
 }

/*Text*/
.container {
    width: 1200px;
    margin: 0 auto;
}
 .creative-text {
     font-weight: bold;
     font-size: 35px;
     line-height: 1px;
     color: #FFFFFF;
     padding-bottom: 22px;
     text-align: center;
     width: 100%;
     text-transform: uppercase;
 }
 .creative-text-color {
     text-decoration: none;
     font-weight: bold;
     font-size: 35px;
     line-height: 1px;
     text-align: center;
     text-transform: uppercase;
     width: 100%;
     color: #18CFAB;
     padding-bottom: 22px;
 }
 .creative-text-title {
     padding: 22px;
     font-weight: bold;
     font-size: 78px;
     color: #FFFFFF;
     text-transform: uppercase;
 }
 .creative-text-subtitle {
     font-size: 34px;
     /*font-family: Montserrat;*/
     line-height: 1px;
     color: #D4D4D4;
 }

 /*Buttons*/
 .button {
     width: 170px;
     border-radius: 10px;
     font-size: 15px;
     /*line-height: 63px;*/
     padding-top: 18px;
     padding-bottom: 18px;
     margin-right: 10px;
     margin-top: 134px;
     margin-left: 26px;
     color: #FFFFFF;
     display: inline-block;
     text-transform: uppercase;
     text-align: center;
     text-decoration: none;
     border-top: 5px solid #FFFFFF;

 }
 .green {
     background: #18CFAB;
 }

.blue {
    background: #00CBF6;
}

/* Section 2*/

.menu-option {
    color: #FFFFFF;
    margin-top: 10px;
}

.list-option {
    display:flex;
}

.item-option {
    width: 482px;
    height: 377px;
    background: #18CFAB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-option:nth-child(odd){
    background:#1C2A33;
    color: #18CFAB;
}

 .option-subtitle{
     font-weight: bold;
     font-size: 20px;
     line-height: 24px;
     margin-top: 58px;
 }
 .green {
    margin-top: 58px;
}





 /* Section 3 */

 .container {
     width: 1200px;
     margin: 0 auto;
 }

 /*Subtitle*/
 .subtitle {
     font-weight: normal;
     font-size: 36px;
     line-height: 40px;
     color: #4E4E4E;
     display: flex;
     align-items: center;
     justify-content: center;
     margin-top: 83px;
 }
 .line-up {
     border: none;
     width: 79px;
     height: 4px;
     background: #18CFAB;
     margin-top: 24px;
     margin-left: 528px;
     /*margin-bottom: 106px;*/
 }
 .line-down {
     border: none;
     width: 79px;
     height: 4px;
     background: #18CFAB;
     margin-top: 4px;
     margin-left: 541px;
     margin-bottom: 69px;
 }
 /* Line */
 /*.subtitle:after{*/
 /*    content: "";*/
 /*    display: block;*/
 /*    width: 79px;*/
 /*    height: 4px;*/
 /*    margin: 60px auto 0;*/
 /*    background-color: #18CFAB;*/
 /*}*/

 /*tabs*/

 .tabs {
     display: flex;
     /*overflow: hidden;*/
 }
 .tabs li {
     flex-grow: 1;
     align-items: center;
     background: #F8FCFE;
     border: 1px solid #F2F2F2;
     outline: none;
     cursor: pointer;
     padding: 14px 34px;
     transition: 0.3s;
 }

 /*triangle*/

 .tablinks{
     position: relative;
     display: flex;
     align-items: center;
     width: 100px;
     height: 50px;
     background: #18CFAB;
     font-weight: normal;
     font-size: 16px;
     line-height: 39px;
     color: #717171;
 }
 .actives li {
     font-weight: normal;
     font-size: 16px;
     line-height: 39px;
     color: #FFFFFF;
 }
 .actives::after{
     content: '';
     position: absolute;
     width: 27px;
     height: 15px;
     top: 100%;
     left: 84px;
     border: 20px solid transparent;
     border-top: 20px solid #18CFAB;
 }


 .tabs li:hover{
     background-color: #18CFAB;
 }
 .tabs li:active{
     background: #F8FCFE;
     border: 1px solid #EDEFEF;
 }
 .tabcontent {
     display: none;
 }
 .tabcontent.active{
     display: flex;
 }
 .tabcontent img{
     /*width: 192px;*/
     /*height: 139px;*/
     margin-top: 23px;
     margin-right: 15px;
 }
 .tab-text {
     padding-top: 28px;
     font-weight: 300;
     font-size: 14px;
     line-height: 24px;
     color: #777777;
 }

 /*section4*/

 .purchase {
     text-align: center;
     background-image: url("../images/section4.jpg");
     background-size: cover;
     /*height: 476px;*/
     padding-top: 126px;
     padding-bottom: 127px;
     margin-top: 91px;
 }

 .container {
     width: 1200px;
     margin: 0 auto;
 }
 .subtitle-color{
     font-weight: bold;
     font-size: 40px;
     line-height: 40px;
     text-align: center;
     text-transform: uppercase;
     color: #18CFAB;

 }
 .title {
     font-style: normal;
     font-weight: normal;
     font-size: 16px;
     line-height: 40px;
     text-align: center;
     padding-top: 13px;
     color: #D8D8D8;
 }
 /*a.purch {*/
 /*    margin-left: 510px;*/
 /*}*/

 /*section5*/

 .gallery{
     background: #E9EDEF;
     padding-top: 1px;
 }
 /*tabs*/

 .tabs-design {
     display: flex;
     justify-content: center;

 }

 /*border: 20px solid transparent; border-top: 20px solid green;*/





 .tabs-design li {
     border: 1px solid #DADADA;
     background-color: inherit;
     padding: 14px 16px;
 }
 .tabs-design li:hover{
     background-color: #18CFAB;
 }
 .tabs-design li:active{
     background: #F8FCFE;
     border: 1px solid #EDEFEF;
 }

 /*images*/

 .design-list {
     display: flex;
     flex-wrap: wrap;
     margin-top: 71px;
     margin-bottom: 70px;
 }
 .design:hover .hover{
     display: block;
 }
 .hover-wrap {
     position: relative;
 }

 .hover{
     position: absolute;
     text-align: center;
     padding-top: 46px;
     display: none;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: #E9EDEF;
     border-top: 6px solid #18CFAB;
 }
.heading {
    padding-top: 24px;
    font-weight: bold;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}
.sub {
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 25px;
    color: #8A8A8A;
}
 /*btn*/
 .btn-plus{
     text-align: center;
 }
.btn-plus-green {
    width: 168px;
    height: 63px;
    align-items: center;
    color: #FFFFFF;
    border: #E9EDEF;
    font-weight: bold;
    font-size: 14px;
    line-height: 42px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: #18CFAB;
    margin-bottom: 99px;
}
.plus{
    padding-right: 15px;
    padding-bottom: 2px;
}



 /*section6*/

 .blogs-list{
     display: grid;
     grid-template-columns: repeat(4,263px);
     gap: 44px 35px;
 }
 .blog {
     position: relative;
 }
 /*.blog:hover*/
 /*.data .post{*/
 /*    background: #18CFAB;*/

 /*}*/
 .data {
     text-align: center;
     position: absolute;
     top: 0;
     right: 0;
     font-size: 16px;
     line-height: 25px;
     color: #FFFFFF;
     padding-top: 10px;
     padding-left: 20px;
     padding-right: 20px;
     width: 70px;
     height: 68px;
     background: #203E38;
 }
.post {
    text-align: center;
    padding-right: 53px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
    line-height: 39px;
    color: #717171;
}
.admin{
    font-style: normal;
    font-weight: 300;
    padding-right: 64px;
    font-size: 14px;
    line-height: 39px;
    color: #777777;
    text-align: center;
    padding-bottom: 44px;
}

/*Section7*/

 .design-people{
     padding-top: 98px;
     text-align: center;
     background-image: url(../images/section7.jpg);
     background-size: cover;
 }
.quotes {
    width: 44px;
    height: 30px;
    left: 558px;
    top: 2px;
    margin-bottom: 37px;
}
.list-designer{
    display: none;
}
.ux-designer{
    display: block;
}
.reviews-title{
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
    text-align: center;
}
.name{
    font-style: normal;
    padding-top: 37px;
    margin-bottom: 38px;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-transform: uppercase;
    color: #18CFAB;
}
.photo {
    object-fit: cover;
    width: 143px;
    height: 142px;
    left: 15px;
    top: 12px;
    border-radius: 50%;
    border: 12px solid rgba(31, 218, 181, 0.2);
    margin-bottom: 57px;
}

.btn-preview {

    position: absolute;
    margin-top: 83px;

}
.back,.forward{
    width: 31px;
    margin-top: 71px;
    margin-right: 140px;
    margin-left: 328px;
    color: #BBBBBB;;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #BBBBBB;
}
.back,.forward:hover{
    background: #18CFAB;
    color:  #FFFFFF;
}
.photo-iterated{
    display: flex;
    justify-content: center;
    margin-top: 69px;
}
.people{
    object-fit: cover;
    width: 60px;
    height: 59px;
    left: 9px;
    top: 6px;
    border-radius: 50%;
    border: 5px solid rgba(31, 218, 181, 0.2);
    margin-bottom: 57px;
}
.photo-people{
    display: none;
}
.one,.two,.four {
    margin-top: 68px;
    margin-left: 33px;
    display: block;
    margin-bottom: 98px;
}
.three {
    margin-top: 59px;
    margin-left: 27px;
    display: block;
}

.footer{
    padding: 0;
    margin-top: -2px;
    background: #22353F;
    background-size: cover;
    text-align: center;
}
.footer-title{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    padding-top: 48px;
    padding-bottom: 48px;
    color: #AEAEAE;
}
.foot{
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 26px;
    color: #18CFAB;
    text-decoration: none;

}