body {
    margin: 0;
    font-family: sans-serif;
}


.top-nav {
    background: #313131;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}
.logo-wrapper {
    display: flex;
    align-items: center;
}

.logo {
    width: 27px;
    height: 27px;
    margin-left: 13px;
    margin-top: 22px;
    margin-bottom: 20px;
}
.logo-text {
    padding-left: 27px;
    font-size: 22px;
    color: #FFFFFF;
}

.menu {
    color: #f2f2f2;
    display: flex;
    text-align: center;
    padding: 14px 16px;
    font-size: 17px;
    list-style: none;
}

.nav-item {
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 20px;
    margin-left: 35px;
    padding-top: 3px;

}
.search {
    background: #000000;
    width: 68px;
    height: 70px;
    display: flex;
}
.search img{
    margin: auto;
}
.container-city {
    background-image: url(../image/city.jpeg);
    background-position: bottom center;
    background-size: 100% 100%;
    padding-top: 164px;
    padding-bottom: 64px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
    margin-bottom: 44px;
}

.button {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 10px;
    margin-left: 10px;
    width: 170px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
}

.green  {
    background-color: #89CA62;
}

.blue {
    background-color: #14B9D5;
}

.container {
    width: 1170px;
    margin: 0 auto;
}
.popular{
    padding-top: 49px;
    background: #F2F2F2;
}

.popular-title{
    text-align: center;
    color: #18B4CF;
    margin-bottom: 52px;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    text-transform: uppercase;
}

.popular-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 860px;

}

.popular-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
    margin-right: 30px;
    margin-bottom: 30px;
}

.popular-item p {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}

.client {
    background-image: url("../image/client.jpeg");
    padding-top: 106px;
    padding-bottom: 203px;
    background-size: 100% 100%;
}

.client-title {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 87px;
}

.client-line{
    border: none;
    width: 60px;
    height: 3px;
    background: #18B4CF;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 106px;
}

.client-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    column-gap: 55px;
    align-items: center;
}

.top-rated {
    padding-top: 50px;
}

.rated-title {
    margin-bottom: 50px;
    margin-top: 0;
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-align: center;
    text-transform: uppercase;
}

.gallery {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}
.gallery-item img{
    max-width: 100%;
}

.news {
    padding-top: 50px;
    padding-bottom: 71px;

}
.news-title {
    font-weight: bold;
    font-size: 27px;
    line-height: 37px;
    color: #18B4CF;
    text-align: center;
    text-transform: uppercase;
    margin-top: 0;
    padding-bottom: 51px;
}

.posts {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, min-content);
    gap: 50px;
}
.post{
    background: #F9F7F7;

}
.post img {
    width: 100%;
}
.post .heading {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: right;
    margin: 0;
}

.post .text {
    text-align: right;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    margin: 0;
}
.post-1 {
    grid-column: span 3 ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.post-1 img {
    height: 100%;
}
.post  .post-text{
    padding-top: 41px;
    padding-bottom: 40px;
    padding-right: 24px;
    padding-left: 24px;

}
.post-2 {
    grid-column: span 1 ;
    display: grid;
    grid-template-rows: auto;
}
.post-2 .post-text {
    padding-top: 14px;
    padding-right: 27px;
    padding-bottom: 11px;
}
.post-3 {
    grid-column: span 2 ;
}
.post-3 .post-text,
.post-4 .post-text,
.post-5 .post-text,
.post-6 .post-text {
    padding-top: 12px;
    padding-right: 14px;

}

.post-4 {
    grid-column: span 2 ;
}
.post-5 {
    grid-column: span 2 ;
}
.post-6 {
    grid-column: span 2 ;
}
.post-7 {
    grid-column: span 1 ;
}
.post-7 .post-text {
    padding-top: 5px;
    padding-bottom: 20px;
    padding-right: 27px;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
}
.post-8 {
    grid-column: span 3 ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/*.post-8 img {*/
/*    !*!*!*height: 100%;*! (в разных браузерах отображает по разному*! не могу понять как будет лучше)*!*/
/*}*/

.footer{
    padding-top: 30px;
    padding-bottom: 30px;
    background: #000000;
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-text {
    font-size: 13px;
    line-height: 13px;
    color: #FFFFFF;

}
.navbar-logo{
    display: flex;
    align-items: flex-start;
}
.navbar-logo-1 {
    width: 38px;
    height: 24px;
}
 .navbar-logo-2 {
     width: 64px;
     height: 16px;
 }

