* {
    margin: 0;
    padding: 0;
}

.body {
    font-family: sans-serif;
}

.ul-header {
    padding-top: 26px;
    text-align: center;
    padding-bottom: 26px;
}

.header-inner {
    display: inline-block;
    color: red;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;

}
.nav-link {
    font-size: 18px;
    line-height: 18px;
    margin-right: 60px;
    color: red;
    text-transform: uppercase;
    text-decoration: none;

}
.img {
    height: 789px;
    width: 100%;
    left: 0px;
    top: 78px;
    border-radius: 0px;
}

.container {
    width: 1125px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.text-header {
    margin-right: 253px;
    margin-left: 253px;
    margin-top: 48px;
    margin-bottom: 38px;
    color: #373737;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-align: left;
    width: 774px;
    height: 29px;
    display: flex;
    align-items: flex-end;
    text-transform: uppercase;

}

.text-paragraph-one {
    font-size: 16px;
    font-style: normal;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-align: center;
    color: #373737;
    margin-top: 48px;
    margin-bottom: 10px;
    margin-left: 67.7px;
    margin-right: 67.7px;

}

.text-paragraph-two {
    margin-top: 28px;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    line-height: 26px;
    letter-spacing: 3.3px;
    color: #373737;
    margin-left: 67.7px;
    margin-right: 67.7px;
    margin-bottom: 267px;
}

.button {
    border-radius: 4px;
    border-color: red;
    padding: 18px 43px;
    margin: 0 auto;
    margin-top: 66px;
    display: flex;
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;

}

.copyright {
    margin-top: 82px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-bottom: 29px;
    margin-right: 105px;
    font-weight: bold;
    font-family: sans-serif;

}